Repository SSAFYnity/Job-Preparation-Challenge-5th, pull requests merged in 2025-03, with the labels that each got.

#68 solved 디스크컨트롤러 - 40.83ms 10.4MB
  Programmers/디스크컨트롤러/디스크컨트롤러_채예은.py
Labels: Normal, Python

#16 solved 부대복귀 - 215.12ms 201mb
  Programmers/부대복귀/부대복귀_김수빈.java
Labels: Easy, Java

#36 solved 친구 네트워크 - 1600ms 101680kb
  Baekjoon/친구네트워크/친구네트워크_김수빈
Labels: Hard, Java

#77 solved 디스크 컨트롤러 - 2.52ms 90.7mb
  Programmers/디스크컨트롤러/디스크컨트롤러_김수빈.java
Labels: Java, Normal

#25 solved 부대복귀 - 514.63ms 286mb
  Programmers/부대복귀/부대복귀_옥수빈.java
Labels: Java, Normal

#80 solved 색종이 붙이기 - 168ms 19.484mb
  Baekjoon/색종이붙이기/색종이붙이기_옥수빈.java
Labels: Easy, Java

#24 solved 부대복귀 - 617.05ms 106mb
  Programmers/부대복귀/부대복귀_박단비.py
Labels: Easy, Python

#14 solved 부대복귀 9094.75ms 186mb
  Programmers/부대복귀/김범규_부대복귀.js
Labels: JavaScript, Normal

#33 solved 친구네트워크 1628ms 109088kb
  Baekjoon/친구네트워크/김범규_친구네트워크.java
Labels: Hard, Java

#19 solved 부대복귀 - 117.71ms 107MB
  Programmers/부대복귀/부대복귀_주혜련.cpp
Labels: C++, Easy

#41 solved 친구네트워크 - 1488ms 85160KB
  Baekjoon/친구네트워크/친구네트워크_주혜련.java
Labels: Easy, Java

#18 solved 부대복귀 - 224.14ms 196mb
  Programmers/부대복귀/부대복귀_허승경.java
Labels: Easy, Java

#44 solved 친구네트워크 - 860ms 92.248mb
  Baekjoon/친구네트워크/허승경_친구네트워크.java
Labels: Hard, Java

#48 solved 친구네트워크 - 276ms 62452kb
  Baekjoon/친구네트워크/친구네트워크_박단비.py
Labels: Hard, Python

#55 solved 디스크컨트롤러 - 3.94ms 98.4mb
  Programmers/디스크컨트롤러/허승경_디스크컨트롤러.java
Labels: Java, Normal

#88 solved 색종이붙이기 372ms 26.396mb
  Baekjoon/색종이붙이기/허승경_색종이붙이기.java
Labels: Hard, Java

#64 solved 디스크컨트롤러 - 0.57ms 10.4mb
  Programmers/디스크컨트롤러/디스크컨트롤러_박단비.py
Labels: Normal, Python

#84 solved 색종이붙이기 - 2012ms 32544kb
  Baekjoon/색종이붙이기/색종이붙이기_박단비.py
Labels: Normal, Python

#13 solved 부대복귀 - 153.52ms 106mb
  Programmers/부대복귀/부대복귀_박주빈.cpp
Labels: C++, Normal

#38 solved 친구네트워크 - 224ms 19304kb
  Baekjoon/친구네트워크/친구네트워크_박주빈.cpp
Labels: C++, Normal

#59 solved 디스크컨트롤러 - 0.64ms 4.2mb
  Programmers/디스크컨트롤러/디스크컨트롤러_박주빈.cpp
Labels: C++, Normal

#75 solved 색종이붙이기 - 40ms 2020kb
  Baekjoon/색종이붙이기/색종이붙이기_박주빈.cpp
Labels: C++, Normal

#97 solved 파괴되지않은건물 - 35.94ms 115MB
  Programmers/파괴되지않은건물/파괴되지않은건물_박주빈.cpp
Labels: C++, Hard

#118 solved 욕심쟁이판다 - 32ms 4048kb
  Baekjoon/욕심쟁이판다/욕심쟁이판다_박주빈.cpp
Labels: C++, Hard

#136 solved 아이템줍기 - 0.06ms 4.21mb
  Programmers/아이템줍기/아이템줍기_박주빈.cpp
Labels: C++, Hard

#169 solved 파일명정렬 - 1.32ms 4.21mb
  Programmers/파일명정렬/파일명정렬_박주빈.cpp
Labels: C++, Easy

#176 solved 파일명 정렬 - 43.39ms 217mb
  Programmers/파일명정렬/파일명정렬_신유진.java
Labels: Java, Normal

#161 solved 파괴되지 않은 건물 - 43.39ms 217mb
  Programmers/파괴되지않은건물/파괴되지않은건물_신유진.java
Labels: Hard, Java

#144 solved 스타트 택시 - 180ms 23020kb
  Baekjoon/스타트택시/스타트택시_신유진.java
Labels: Java, Normal

#107 solved 욕심쟁이판다 - 480ms 37220kb
  Baekjoon/욕심쟁이판다/욕심쟁이판다_신유진.java
Labels: Java, Normal

#32 solved 친구네트워크 476ms 58520kb
  Baekjoon/친구네트워크/친구네트워크_심종한.java
Labels: Java, Normal

#56 solved 디스크컨트롤러 - 2.72ms, 79.6MB
  Programmers/디스크컨트롤러/디스크컨트롤러_심종한.java
Labels: Java, Normal

#76 solved 색종이붙이기 - 136ms 16560kb
  Baekjoon/색종이붙이기/색종이붙이기_심종한.java
Labels: Java, Normal

#109 solved 파괴되지않은건물 - 49.88ms 211mb
  Programmers/파괴되지않은건물/파괴되지않은건물_심종한.java
Labels: Java, Normal

#58 solved 디스크컨트롤러 7.37ms 36.6mb
  Programmers/디스크컨트롤러/김범규_디스크컨트롤러.js
Labels: Easy, JavaScript

#74 solved 색종이붙이기 208ms 24556kb
  Baekjoon/색종이붙이기/김범규_색종이붙이기.java
Labels: Hard, Java

#35 solved 친구네트워크 - 444ms 59672kb
  Baekjoon/친구네트워크/친구네트워크_김훈민.java
Labels: Java, Normal

#66 solved 디스크컨트롤러 - 4.23ms 87.8mb
  Programmers/디스크컨트롤러/디스크컨트롤러_김훈민.java
Labels: Java, Normal

#108 solved 파괴되지않은건물 54.48ms 221mb
  Programmers/파괴되지않은건물/허승경_파괴되지않은건물.java
Labels: Hard, Java

#139 solved 욕심쟁이판다 428ms 36.996mb
  Baekjoon/욕심쟁이판다/욕심쟁이판다_허승경.java
Labels: Java, Normal

#98 solved 욕심쟁이 판다 - 732ms 71784kb
  Baekjoon/욕심쟁이판다/욕심쟁이판다_김수빈.java
Labels: Java, Normal

#119 unsolved 파괴되지 않은 건물 - 63.62ms, 219mb
  Programmers/파괴되지않은건물/파괴되지않은건물_김수빈.java
Labels: Java, Normal

#154 solved 스타트택시 - 324ms 40804kb
  Baekjoon/스타트택시/스타트택시_김수빈.java
Labels: Java, Normal

#168 solved 파일명 정렬 - 39.90ms 96.2mb
  Programmers/파일명정렬/파일명정렬.java
Labels: Java, Normal

#120 solved 욕심쟁이 판다 - 472ms 64.076mb
  Baekjoon/욕심쟁이판다/욕심쟁이판다_옥수빈.java
Labels: Java, Normal

#15 solved 부대복귀 - 253.05ms 197mb
  Programmers/부대복귀/부대복귀_김민규.java
Labels: Java, Normal

#65 solved 디스크컨트롤러 - 3.79ms 72.1mb
  Programmers/디스크컨트롤러/디스크컨트롤러_김민규.java
Labels: Java, Normal

#83 solved 색종이붙이기 - 208ms 23704kb
  Baekjoon/색종이붙이기/색종이붙이기_김민규.java
Labels: Hard, Java

#105 solved 파괴되지않은건물 - 49.90 ms 210 MB
  Programmers/파괴되지않은건물/파괴되지않은건물_김민규.java
Labels: Hard, Java

#117 solved 욕심쟁이판다 - 480ms 37248kb
  Baekjoon/욕심쟁이판다/욕심쟁이판다_김민규.java
Labels: Java, Normal

#8 solved 부대복귀-0ms 0mb
  Programmers/부대복귀/부대복귀_박은정.java
Labels: Easy, Java

#30 solved 친구네트워크 1300ms 72296kb
  Baekjoon/친구네트워크/친구네트워크_박은정.java
Labels: Java, Normal

#53 solved 디스크컨트롤러 0ms 0mb
  Programmers/디스크컨트롤러/디스크컨트롤러_박은정.java
Labels: Java, Normal

#103 unsolved 파괴되지않은건물 - 0ms 0mb
  Programmers/파괴되지않은건물/파괴되지않은건물_박은정.java
Labels: Hard, Java

#114 solved 욕심쟁이판다 - 484ms 37272kb
  Baekjoon/욕심쟁이판다/욕심쟁이판다_박은정.java
Labels: Java, Normal

#131 solved 아이템줍기 - 0ms 0mb
  Programmers/아이템줍기/아이템줍기_박은정.java
Labels: Hard, Java

#106 solved 파괴되지않은건물 - 931.54ms 143mb
  Programmers/파괴되지않은건물/파괴되지않은건물_박단비.py
Labels: Hard, Python

#121 solved 욕심쟁이판다 - 768ms 52144kb
  Baekjoon/욕심쟁이판다/욕심쟁이판다_박단비.py
Labels: Normal, Python

#132 solved 아이템줍기 - 1.40ms 10.5mb
  Programmers/아이템줍기/아이템줍기_박단비.py
Labels: Hard, Python

#159 solved 스타트택시 - 316ms 35076kb
  Baekjoon/스타트택시/스타트택시_박단비.py
Labels: Normal, Python

#138 solved 아이템줍기 1.44ms 89.2mb
  Programmers/아이템줍기/허승경_아이템줍기.java
Labels: Hard, Java

#174 solved 파일명정렬 - 2.74ms 10.2mb
  Programmers/파일명정렬/파일명정렬_박단비.py
Labels: Normal, Python

#165 solved 파일명정렬 21.41ms 91.9mb
  Programmers/파일명정렬/파일명정렬_허승경.java
Labels: Easy, Java

#115 solved 욕심쟁이판다 - 412ms 67360kb
  Baekjoon/욕심쟁이판다/욕심쟁이판다_심종한.java
Labels: Java, Normal

#142 solved 아이템줍기 - 0.61ms 82.4MB
  Programmers/아이템줍기/아이템줍기_심종한.java
Labels: Java, Normal

#148 solved 스타트택시 - 984ms 298100kb
  Baekjoon/스타트택시/스타트택시_심종한.java
Labels: Java, Normal

#166 solved 파일명정렬 4.79ms 92.5MB
  Programmers/파일명정렬/파일명정렬_심종한.java
Labels: Hard, Java

#194 solved 뱀 - 76ms 12124kb
  Baekjoon/뱀/뱀_심종한.java
Labels: Java, Normal

#104 solved 파괴되지않은건물 - 48.31ms, 210MB
  Programmers/파고되지않은건물/파괴되지않은건물_김훈민.java
Labels: Java, Normal

#125 solved 욕심쟁이판다 - 496ms, 53556kb
  Baekjoon/욕심쟁이판다/욕심쟁이판다_김훈민.java
Labels: Java, Normal

#140 solved 아이템줍기 - 11.11ms, 72.8mb
  Programmers/아이템줍기/아이템줍기_김훈민.java
Labels: Java, Normal

#158 solved 스타트택시 - 148ms, 18068kb
  Baekjoon/스타트택시/스타트택시_김훈민.java
Labels: Easy, Java

#172 solved 파일명정렬 - 34.97ms, 75.8MB
  Programmers/파일명정렬/파일명정렬_김훈민.java
Labels: Easy, Java

#185 solved 뱀 - 0ms 2064kb
  Baekjoon/뱀/뱀_박주빈.cpp
Labels: C++, Normal

#200 solved 프렌즈4블록 - 1.84ms 4.21mb
  Programmers/프렌즈4블록/프렌즈4블록_박주빈.cpp
Labels: C++, Normal

#217 solved 타일채우기 - 0ms 2020kb
  Baekjoon/타일채우기/타일채우기_박주빈.cpp
Labels: C++, Normal

#238 solved 오픈채팅방 - 306.31ms, 43.8mb
  Programmers/오픈채팅방/오픈채팅방_박주빈.cpp
Labels: C++, Easy

#251 solved 물통 - 0ms 9956kb
  Baekjoon/물통/물통_박주빈.cpp
Labels: C++, Normal

#189 unsolved 뱀
  Baekjoon/뱀/뱀_김수빈.java
Labels: Java, Normal

#198 solved 프렌즈4블록 - 1.15ms 87.5mb
  Programmers/프렌즈4블록/프렌즈4블록_김수빈.java
Labels: Java, Normal

#237 solved 오픈채팅방 - 118.52ms, 176MB
  Programmers/오픈채팅방/오픈채팅방_김수빈.java
Labels: Java, Normal

#259 solved 물통 - 128ms 23640kb
  Baekjoon/물통/물통_김수빈.java
Labels: Java, Normal

#202 solved 뱀 - 116ms 14536kb
  Baekjoon/뱀/뱀_신유진.java
Labels: Easy, Java

#231 solved 타일채우기 - 100ms 14264kb
  Baekjoon/타일채우기/타일채우기_신유진.java
Labels: Hard, Java

#258 solved 프렌즈4블록 - 100ms 14264mb
  Programmers/프렌즈4블록/프렌즈4블록_신유진.java
Labels: Java, Normal

#63 solved 디스크컨트롤러 - 0.64ms 4.2mb
  Programmers/디스크컨트롤러/디스크컨트롤러_주혜련.cpp
Labels: C++, Normal

#82 solved 색종이붙이기 - 320ms 16792kb
  Baekjoon/색종이붙이기/색종이붙이기_주혜련.java
Labels: Java, Normal

#94 solved 파괴되지않은건물 29.10ms 119mb
  Programmers/파괴되지않은건물/파괴되지않은건물_주혜련.cpp
Labels: C++, Hard

#129 solved 욕심쟁이판다 - 444ms 37004kb
  Baekjoon/욕심쟁이판다/욕심쟁이판다_주혜련.java
Labels: Easy, Java

#141 solved 아이템줍기 - 0.51ms 4.14kb
  Programmers/아이템줍기/아이템줍기_주혜련.cpp
Labels: C++, Hard

#156 solved 스타트택시 - 0ms 2028kb
  Baekjoon/스타트택시/스타트택시_주혜련.cpp
Labels: C++, Normal

#175 solved 파일명정렬 - 0.97ms 3.84mb
  Programmers/파일명정렬/파일명정렬_주혜련.cpp
Labels: C++, Easy

#183 solved 뱀 - 0ms 1268kb
  Baekjoon/뱀/뱀_주혜련.cpp
Labels: C++, Normal

#210 solved 프렌즈4블록 - 0.34ms 4.01mb
  Programmers/프렌즈4블록/프렌즈4블록_주혜련.cpp
Labels: C++, Normal

#213 solved 타일채우기 - 104ms 14180kb
  Baekjoon/타일채우기/타일채우기_주혜련.java
Labels: Hard, Java

#243 solved 오픈채팅방 - 118.85ms 54.2mb
  Programmers/오픈채팅방/오픈채팅방_주혜련.cpp
Labels: C++, Easy

#193 solved 뱀 - 64ms 34992kb
  Baekjoon/뱀/뱀_박단비.py
Labels: Normal, Python

#212 solved 프렌즈4블록 - 618.06ms 9.36mb
  Programmers/프렌즈4블록/프렌즈4블록_박단비.py
Labels: Normal, Python

#170 solved 스타트택시 - 236ms 235876kb
  Baekjoon/스타트택시/스타트택시_박은정.java
Labels: Java

#171 unsolved 파일명정렬 - 0ms 0mb
  Programmers/파일명정렬/파일명정렬_박은정.java
Labels: Hard, Java

#184 sovled 뱀 - 108ms 14356kb
  Baekjoon/뱀/뱀_박은정.java
Labels: Easy, Java

#205 sovled 프렌즈4블록 0ms 0mb
  Programmers/프렌즈4블록/박은정_프렌즈4블록.java
Labels: Easy, Java

#216 unsolved 타일채우기 - 0ms 0mb
  Baekjoon/타일채우기/박은정_타일채우기.java
Labels: Hard, Java

#236 solved 오픈채팅방 - 0ms 0mb
  Programmers/오픈채팅방/오픈채팅방_박은정.java
Labels: Easy, Java

#195 solved 프렌즈4블록 22.22ms 101mb
  Programmers/프렌즈4블록/프렌즈4블록_허승경.java
Labels: Easy, Java

#208 solved 뱀 112ms 14.436mb
  Baekjoon/뱀/뱀_허승경.java
Labels: Java, Normal

#240 solved 오픈채팅방 133.65ms 187mb
  Programmers/오픈채팅방/오픈채팅방_허승경.java
Labels: Easy, Java

#11 solved 부대복귀 - 144.01ms 181MB
  Programmers/부대복귀/부대복귀_최지수.java
Labels: Easy, Java

#46 solved 친구네트워크 - 968ms 74784KB
  Baekjoon/친구네트워크/친구네트워크_최지수.txt
Labels: Normal

#60 solved 디스크컨트롤러 - 3.82ms 86.5MB
  Programmers/디스크컨트롤러/디스크컨트롤러_최지수.java
Labels: Easy, Java

#99 solved 파괴되지않은건물 - 58.91ms 212MB
  Programmers/파괴되지않은건물/파괴되지않은건물_최지수.java
Labels: Java, Normal

#124 solved 욕심쟁이판다 - 356ms 59960KB
  Baekjoon/욕심쟁이판다/욕심쟁이판다_최지수.java
Labels: Java, Normal

#133 solved 아이템줍기 - 2.54ms 73.1MB
  Programmers/아이템줍기/아이템줍기_최지수.txt
Labels: Hard

#209 solved 프렌즈4블록 - 19.11ms 84.2MB
  Programmers/프렌즈4블록/프렌즈4블록_최지수.java
Labels: Java, Normal

#219 solved 타일채우기 - 64ms 11448KB
  Baekjoon/타일채우기/타일채우기_최지수.java
Labels: Hard, Java

#241 solved 오픈채팅방 - 156ms 174MB
  Programmers/오픈채팅방/오픈채팅방_최지수.java
Labels: Easy, Java

#187 solved 뱀 120ms 14792kb
  Baekjoon/뱀/뱀_김범규.java
Labels: Java, Normal

#197 solved 프렌즈4블록 233.18ms 40.7mb
  Programmers/프렌즈4블록/프렌즈4블록_김범규.js
Labels: JavaScript, Normal

#214 solved 타일채우기 104ms 14156kb
  Baekjoon/타일채우기/타일채우기_김범규.java
Labels: Java, Normal

#234 solved 오픈채팅방 320.07ms 92.6MB
  Programmers/오픈채팅방/오픈채팅방_김범규.js
Labels: Easy, JavaScript

#254 solved 물통 136ms 47008kb
  Baekjoon/물통/물통_김범규.java
Labels: Java, Normal

#239 solved 오픈채팅방 - 153.31ms 41.6mb
  Programmers/오픈채팅방/오픈채팅방_박단비.py
Labels: Easy, Python

#261 solved 물통 - 60ms 35028kb
  Baekjoon/물통/물통_박단비.py
Labels: Normal, Python

#262 solved 물통 116ms 14.644mb
  Baekjoon/물통/물통_허승경.java
Labels: Hard, Java

#256 solved 물통 - 84ms 20628KB
  Baekjoon/물통/물통_최지수.java
Labels: Java, Normal

#273 solved 징검다리건너기 - 38.29ms 64.5MB
  Programmers/징검다리건너기/징검다리건너기_최지수.txt
Labels: Normal

#288 solved 옥상정원꾸미기 - 160ms 16108KB
  Baekjoon/옥상정원꾸미기/옥상정원꾸미기_최지수.java
Labels: Java, Normal

#309 solved 불량사용자 - 29.31ms 82.5MB
  Programmers/불량사용자/불량사용자_최지수.java
Labels: Java, Normal

#190 solved 뱀 - 92ms, 13632kb
  Baekjoon/뱀/뱀_김훈민.java
Labels: Easy, Java

#201 solved 프렌즈4블록 - 34.91ms, 92.8MB
  Programmers/프렌즈4블록/프렌즈4블록_김훈민.java
Labels: Easy, Java

#215 solved 타일채우기 - 64ms, 11492kb
  Baekjoon/타일채우기/타일채우기_김훈민.java
Labels: Java, Normal

#248 solved 오픈채팅방 - 124.62ms, 147MB
  Programmers/오픈채팅방/오픈채팅방_김훈민.java
Labels: Easy, Java

#255 solved 물통 - 68ms, 20596kb
  Baekjoon/물통/물통_김훈민.java
Labels: Easy, Java

#280 solved 징검다리건너기 - 47.96ms, 84MB
  Programmers/징검다리건너기/징검다리건너기_김훈민.java
  Programmers/파괴되지않은건물/파괴되지않은건물_김훈민.java
Labels: Java, Normal

#272 unsolved 징검다리건너기 - 3.33ms 10.4mb
  Programmers/징검다리건너기/징검다리건너기_박주빈.cpp
Labels: C++, Hard

#290 solved 옥상정원꾸미기 - 40ms 2600kb
  Baekjoon/옥상정원꾸미기/옥상정원꾸미기_박주빈.cpp
Labels: C++

#306 solved 불량사용자 - 0.69ms 4.22mb
  Programmers/불량사용자/불량사용자_박주빈.cpp
Labels: C++, Normal

#320 solved 택배배송 - 28ms 5532kb
  Baekjoon/택배배송/택배배송_박주빈.cpp
Labels: C++, Normal

#279 solved 징검다리건너기 - 433.17ms 17.6mb
  Programmers/징검다리건너기/징검다리건너기_박단비.py
Labels: Normal, Python
