Repository SSAFYnity/Job-Preparation-Challenge-5th, pull requests merged in 2025-04, with the labels that each got.

#289 solved 옥상정원 꾸미기 - 256ms 24172kb
  Baekjoon/옥상정원꾸미기/옥상정원꾸미기_김수빈.java
Labels: Java, Normal

#312 unsolved 택배배송 - 472ms, 47456kb
  Baekjoon/택배배송/택배배송_김수빈.java
Labels: Java, Normal

#325 solved 거리두기 확인하기 - 0.06ms 92.6mb
  Programmers/거리두기확인하기/거리두기확인하기_김수빈.java
Labels: Java, Normal

#338 solved 불량 사용자 - 100.05ms, 105MB
  Programmers/불량사용자/불량사용자_김수빈.java
Labels: Java, Normal

#226 solved 타일 채우기 - 112ms 12.852mb
  Baekjoon/타일채우기/타일채우기_옥수빈.java
Labels: Hard, Java

#291 solved 옥상정원꾸미기 - 84ms 36872kb
  Baekjoon/옥상정원꾸미기/옥상정원꾸미기.py
Labels: Normal, Python

#294 solved 징검다리건너기 - 0ms 0mb
  Programmers/징검다리건너기/징검다리건너기_박은정.java
Labels: Java, Normal

#295 solved 옥상정원꾸미기 - 264ms 23616kb
  Baekjoon/옥상정원꾸미기/옥상정원꾸미기_박은정.java
Labels: Java, Normal

#307 solved 불량사용자 - 0ms 0mb
  Programmers/불량사용자/불량사용자_박은정.java
Labels: Easy, Java

#310 solved 불량사용자 - 325.92ms 9.34mb
  Programmers/불량사용자/불량사용자_박단비.py
Labels: Normal, Python

#328 solved 택배배송 - 208ms 52284kb
  Baekjoon/택배배송/택배배송_박단비.py
Labels: Normal, Python

#274 solved 징검다리건너기 27.17ms 81.8mb
  Programmers/징검다리건너기/징검다리건너기_허승경.java
Labels: Hard, Java

#324 solved 택배배송 - 412ms 40.148mb
  Baekjoon/택배배송/택배배송_허승경.java
Labels: Easy, Java

#341 solved 거리두기확인하기 - 0.45ms 9.34mb
  Programmers/거리두기확인하기/거리두기확인하기_박단비.py
Labels: Normal, Python

#318 solved 택배배송 - 39872KB 384ms
  Baekjoon/택배배송/택배배송_박은정.java
Labels: Easy, Java

#356 solved 선발명단 - 148ms 15580kb
  Baekjoon/선발명단/선발명단_박은정.java
Labels: Easy, Java

#381 solved 테트리스 - 112ms 14264kb
  Baekjoon/테트리스/테트리스_박은정.java
Labels: Java, Normal

#382 solved 연속펄스부분수열의합 - 0ms 0kb
  Programmers/연속펄스부분수열의합/연속펄스부분수열의합_박은정.java
Labels: Java, Normal

#390 unsolved 후보키- 0ms 0mb
  Programmers/후보키/후보키_박은정.java
Labels: Hard, Java

#406 solved 콘센트 - 15412kb 144ms
  Baekjoon/콘센트/콘센트_박은정.java
Labels: Easy, Java

#326 solved 택배배송 - 388ms 40832KB
  Baekjoon/택배배송/택배배송_최지수.java
Labels: Java, Normal

#297 solved 옥상정원꾸미기 - 260ms, 23048kb
  Baekjoon/옥상정원꾸미기/옥상정원꾸미기_김훈민.java
Labels: Java, Normal

#313 solved 불량사용자 - 72.01ms, 109mb
  Programmers/불량사용자/불량사용자_김훈민.java
Labels: Easy, Java

#330 solved 택배배송 - 348ms, 39892kb
  Baekjoon/택배배송/택배배송_김훈민.java
Labels: Easy, Java

#344 solved 거리두기확인하기 - 0.18ms, 77MB
  Programmers/거리두기확인하기/거리두기확인하기_김훈민.java
Labels: Java, Normal

#357 solved 선발명단 - 96ms, 12984kb
  Baekjoon/선발명단/선발명단_김훈민.java
Labels: Easy, Java

#371 solved 연속펄스부분수열의합 - 36.39ms, 121MB
  Programmers/연속펄스부분수열의합/연속펄스부분수열의합_김훈민.java
Labels: Easy, Java

#278 solved 징검다리건너기 - 10.86ms 10.8mb
  Programmers/징검다리건너기/징검다리건너기_주혜련.cpp
Labels: C++, Easy

#302 solved 옥상정원꾸미기 -48ms 2336kb
  Baekjoon/옥상정원꾸미기/옥상정원꾸미기_주혜련.cpp
Labels: C++, Hard

#315 solved 불량사용자 - 2.77ms 3.64mb
  Programmers/불량사용자/불량사용자_주혜련.cpp
Labels: C++, Easy

#333 solved 택배배송 - 68ms 5420kb
  Baekjoon/택배배송/택배배송_주혜련.cpp
Labels: C++, Easy

#343 solved 거리두기확인하기 - 0.04ms 4.2mb
  Programmers/거리두기확인하기/거리두기확인하기_주혜련.cpp
Labels: C++, Normal

#363 solved 선발명단 - 4ms 2020kb
  Baekjoon/선발명단/선발명단_주혜련.cpp
Labels: C++, Easy

#277 solved 옥상정원꾸미기 - 264ms 24388kb
  Programmers/옥상정원꾸미기/옥상정원꾸미기_신유진.java
Labels: Java, Normal

#316 solved 택배 배송 - 386ms 38088kb
  Baekjoon/택배배송/택배배송_신유진.java
Labels: Easy, Java

#345 solved 징검다리건너기 - 38.93ms 82mb
  Programmers/징검다리건너기/징검다리건너기_신유진.java
Labels: Hard, Java

#415 solved 콘센트 - 160ms 15396kb
  Baekjoon/콘센트/콘센트_신유진.java
Labels: Java, Normal

#359 solved 선발명단 - 0ms 2020kb
  Baekjoon/선발명단/선발명단_박주빈.cpp
Labels: C++, Easy

#370 solved 연속펄스부분수열의합 - 4.89ms 24.6mb
  Programmers/연속펄스부분수열의합/연속펄스부분수열의합_박주빈.cpp
Labels: C++, Hard

#393 unsolved 후보키 - 1.45ms 4.2mb
  Programmers/후보키/후보키_박주빈.cpp
Labels: C++, Hard

#404 solved 콘센트 - 0ms 2176kb
  Baekjoon/콘센트/콘센트_박주빈.cpp
Labels: C++, Easy

#360 solved 선발명단 - 104ms 32412kb
  Baekjoon/선발명단/선발명단_박단비.py
Labels: Easy, Python

#375 solved 연속펄스부분수열의합 - 768.74ms 114mb
  Programmers/연속펄스부분수열의합/연속펄스부분수열의합_박단비.py
Labels: Normal, Python

#385 unsolved 연속 펄스 부분 수열의 합 - 26.23ms, 133MB
  Programmers/연속펄스부분수열의합/연속펄스부분수열의합_김수빈.java
Labels: Java, Normal

#395 solved 테트리스 - 104ms, 14212kb
  Baekjoon/테트리스/테트리스_김수빈.java
Labels: Java, Normal

#408 unsolved 후보키 - 6.84ms, 87.5MB
  Programmers/후보키/후보키_김수빈.java
Labels: Java, Normal

#372 solved 연속 펄스 부분 수열의 합 - 30.30ms 140mb
  Programmers/연속펄스부분수열의합/연속펄스부분수열의합_옥수빈.java
Labels: Easy, Java

#386 solved 테트리스 - 36ms 32412kb
  Baekjoon/테트리스/테트리스_박단비.py
Labels: Hard, Python

#422 solved 자물쇠와열쇠 - 0ms 0mb
  Programmers/자물쇠와열쇠/자물쇠와열쇠_박은정.md
Labels: Easy, Java

#361 solved 선발명단 - 108ms 15084KB
  Baekjoon/선발명단/선발명단_최지수.java
Labels: Java, Normal

#369 solved 연속펄스부분수열의합 - 44.75ms 129MB
  Programmers/연속펄스부분수열의합/연속펄스부분수열의합_최지수.java
Labels: Hard, Java

#389 solved 후보키 - 4.65ms 77.3MB
  Programmers/후보키/후보키_최지수.java
Labels: Java, Normal

#411 solved 콘센트 - 100ms 12528KB
  Baekjoon/콘센트/콘센트_최지수.java
Labels: Easy, Java

#348 solved 거리두기확인하기 - 1.41ms 93.1ms
  Programmers/거리두기확인하기/거리두기확인하기_허승경.java
Labels: Java, Normal

#398 solved 연속펄스부분수열의합 - 27.56ms 127mb
  Programmers/연속펄스부분수열의합/연속펄스부분수열의합_허승경.java
Labels: Java, Normal

#384 solved 테트리스 - 64ms, 11580KB
  Baekjoon/테트리스/테트리스_김훈민.java
Labels: Hard, Java

#407 solved 콘센트 - 100ms, 12928KB
  Baekjoon/콘센트/콘센트_김훈민.java
Labels: Easy, Java

#425 solved 자물쇠와열쇠 - 25.07ms, 97MB
  Programmers/자물쇠와열쇠/자물쇠와열쇠_김훈민.java
Labels: Java, Normal

#466 solved 자물쇠와 열쇠 - 2.36ms 75.6mb
  Programmers/자물쇠와열쇠/자물쇠와열쇠_신유진.java
Labels: Hard, Java

#449 solved 지게차와 크레인 - 48.65ms 95.3mb
  Programmers/지게차와크레인/지게차와크레인_신유진.java
Labels: Java, Normal

#440 solved 통나무 옮기기 - 120ms 14804kb
  Baekjoon/통나무옮기기/통나무옮기기_신유진.java
Labels: Hard, Java

#431 solved 자물쇠와열쇠 - 47.32ms 90.4MB
  Programmers/자물쇠와열쇠/자물쇠와열쇠_최지수.java
Labels: Hard, Java

#433 solved 통나무옮기기 - 104ms 14016KB
  Baekjoon/통나무옮기기/통나무옮기기_최지수.java
Labels: Java, Normal

#426 unsolved 자물쇠와열쇠 - 2.95ms 4.21mb
  Programmers/자물쇠와열쇠/자물쇠와열쇠_박주빈.cpp
Labels: C++, Hard

#436 solved 통나무옮기기 - 0ms 2032kb
  Baekjoon/통나무옮기기/통나무옮기기_박주빈.cpp
Labels: C++, Hard

#447 solved 지게차와크레인 - 3.49ms 4.17mb
  Programmers/지게차와크레인/지게차와크레인_박주빈.cpp
Labels: C++, Hard

#454 solved 전시장 - 240ms 6712kb
  Baekjoon/전시장/전시장_박주빈.cpp
Labels: C++, Normal

#462 solved 기둥과보설치 - 1.43ms 4.55mb
  Programmers/기둥과보설치/기둥과보설치_박주빈.cpp
Labels: C++, Normal

#401 solved 선발명단 - 180ms 17.332mb
  Baekjoon/선발명단/선발명단_허승경.java
Labels: Easy, Java

#405 solved 콘센트 - 176ms 17.588mb
  Baekjoon/콘센트/콘센트_허승경.java
Labels: Java, Normal

#450 solved 지게차와크레인 - 25.57ms 83.9MB
  Programmers/지게차와크레인/지게차와크레인_최지수.java
Labels: Java, Normal

#458 solved 전시장 - 500ms 56788KB
  Baekjoon/전시장/전시장_최지수.java
Labels: Java, Normal

#461 solved 기둥과보설치 - 15.68ms 4.2mb
  Programmers/기둥과보설치/기둥과보설치_주혜련.cpp
Labels: C++, Normal

#397 solved 후보키 - 1.78ms 4.15mb
  Programmers/후보키/후보키_주혜련.cpp
Labels: C++, Easy

#457 solved 전시장 - 232ms 6708kb
  Baekjoon/전시장/전시장_주혜련.cpp
Labels: C++, Hard

#429 solved 자물쇠와열쇠 - 0.51ms 4.13mb
  Programmers/자물쇠와열쇠/자물쇠와열쇠_주혜련.cpp
Labels: C++, Easy

#413 solved 콘센트 - 0ms 2064kb
  Baekjoon/콘센트/콘센트_주혜련.cpp
Labels: C++, Easy

#388 solved 테트리스 - 0ms 2028kb
  Baekjoon/테트리스/테트리스_주혜련.cpp
Labels: C++, Hard

#459 solved 기둥과보설치 - 1.38ms 93.4MB
  Programmers/기둥과보설치/기둥과보설치_최지수.java
Labels: Hard, Java

#400 unsolved 후보키 - 6.38ms 9.38mb
  Programmers/후보키/후보키_박단비.py
Labels: Hard, Python

#410 solved 콘센트 - 64ms 34924kb
  Baekjoon/콘센트/콘센트_박단비.py
Labels: Easy, Python

#427 solved 자물쇠와열쇠 - 462.64ms 9.4mb
  Programmers/자물쇠와열쇠/좌물쇠와열쇠_박단비.py
Labels: Hard, Python

#437 solved 통나무옮기기 - 80ms 35872kb
  Baekjoon/통나무옮기기/통나무옮기기_박단비.py
Labels: Normal, Python

#464 solved 기둥과보설치 - 2846.85ms 9.57mb
  Programmers/기둥과보설치/기둥과보설치_박단비.py
Labels: Normal, Python
